@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  transition:all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  
}


canvas{
  pointer-events: none;
}

span.growing{
 background-color: #fd2c2a;
}